body {
    background-image: linear-gradient(60deg,  #4971D8 , rgba(104, 214, 209, 0.665)) ;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #383838;
    text-align: center;
    padding: 15px;
    height: 5vm;
    box-shadow: 1px 1px 3px black;
    z-index: 69;
}

.prodimg {
    border-radius: 5%;
}

nav div{
    margin-left:  auto;
    margin-right: auto;
    display: flex;
} 

a {
    text-decoration: none;
    color: #4971D8;
    margin-left: 20%;
    font-size: 2vw;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: rgb(204, 139, 140);
}

#body {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#left {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 325px;
    width: 60%;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.494);
    background: #5f5f5f;
   
}

.prod {
    background-color: rgb(143, 143, 143);
    border-radius: 5px;
    padding: 1% 1% 0% 1%;
    margin: 30px 10px 15px 5px;
    box-shadow: 1px 1px 5px black;
    position: relative;
}

#right {
    display: grid;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    margin-top: 85px;
    margin-left: 30px;
    height: 538px;
    background-color: #5f5f5f;
    width: 20em;
    border-radius: 1%
}

#form {
    display: grid;
    height: 400px;
    width: 100%;
}

input {
    background-color: rgb(143, 143, 143);
    border-radius: 5%;
    width: 95%;
    border: 0.5px solid black;
}

input::placeholder {
    color: black;
}

#caption {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    color: #4971D8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form>* {
    margin: 10px;
}

.editicon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
}

.deleteicon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
}

.delicon{
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    border: none;
    bottom: 80px;
    left: 100px;
    margin: 0px;
    padding: 0px; 
}

.icon {
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    border: none;
    bottom: 80px;
    left: 130px;
    margin: 0px;
    padding: 0px; 
}

.click {
    background-color: #4971D8;
    border-radius: 5%;
    border: none;
    font-weight: bold;
    width: 95% !important;
    box-shadow: 1px 1px 3px black;
}

.clickable {
    background-color: #4971D8;
    border-radius: 5%;
    border: none;
    font-weight: bold;
    width: 95%;
    box-shadow: 1px 1px 3px black;
}

button:active, button:hover {
    background-color: rgb(204, 139, 140);
    cursor: pointer;
}

#resetButton {
    margin-top: 65px;
}

.butt {
    height: 38.602px;
    margin-left: 12px;
}

.prod p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

@media screen and (min-width: 1333px){
    #left {
        margin-top: 120px;
    }
    #right {
        width: 25%;
        margin-top: 7em;
    }
}

@media screen and (max-width:1332px) and (min-width: 993px){
    #left {
        margin-top: 90px;
    }
     #right {
        width: 30%;
        margin-left: 30px;
        margin-right: 10px;
    }
    a{
        font-size: x-large;
    }
    #caption{
        font-size: x-large;
    }
}

@media screen and (max-width:992px) and (min-width: 769px){
    #right {
       width: 30%;
       margin-left: 30px;
       margin-right: 10px;
   }
   a{
    font-size: large;
}
   #caption{
    font-size: large;
}
}


@media screen and (max-width: 768px) {
    #body{ display: grid;} 
    #caption{
        font-size: medium;
    }

    a{
        font-size: medium;
    }

    #right {
        width: 60% !important;
         order: 1;
         margin-left: 20%;
         margin-right: 20%;
     }

     #left {
         width: 80% !important;
         order: 2;
         margin-left: 10%;
         margin-right: 10%;
     }
}