:root {
  --dark: #383838;
  --light: rgb(235, 235, 215);
  --more: rgb(143, 143, 143);
  --another: #dfba53;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  background-color: var(--light);
}

.navright a {
  margin-top: 0% !important;
  color: var(--light);
  padding: 0% !important;
  margin-bottom: 0% !important;
  height: 10%;
}

.searchbar {
  display: flex;
  flex-wrap: nowrap;
}

.modal {
  background-color: var(--dark);
  padding: 20px;
  border-radius: 1%;
  border: 1px solid var(--light);
}

.close-modal {
  position: absolute;
  top: 1%;
  right: 4%;
  font-size: x-large;
}

.login-button,
.signup-button {
  background-color: var(--another);
  padding: 15px;
  text-align: center;
  margin-left: 45%;
  border: none;
  border-radius: 5%;
  font-size: large;
  font-weight: 500;
}

.login-button:hover,
.signup-button:hover {
  cursor: pointer;
  background-color: #aa8f43;
}

#profile-pic label:hover {
  cursor: pointer;
  background-color: #aa8f43;
}

#profile-pic {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--light);
  padding: 7px;
  position: relative;
  
}

#profile-pic img {
  width: 17%;
  height: 8em;
  border-radius: 50%;
}

#account-email .editicon {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 79%;
  position: absolute;
}

#account-password .editicon {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 75%;
  position: absolute;
}

#account-bio .editicon {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 81%;
  position: absolute;
}

.input-field {
  position: relative;
  height: 60px;
  width: 100%;
}

#account-form .input-field p {
  color: var(--light);
}

#account-form .input-field {
  border: 1px solid var(--light);
  display: flex;
  padding: 5px;
}

.save-info:hover {
  cursor: pointer;
  background-color: #aa8f43;
}

.save-info {
  width: 10%;
  height: auto;
  padding: 5px;
  background-color: #dfba53;
  border: none;
  border-radius: 5%;
  margin-top: 1%;
  margin-left: 79%;
  position: absolute;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 1px 1px 3px black;
}


#account-email input, #account-password input,#account-bio input {
  width: 75%;
}

#account-email label {
  margin-left: 5px;
}

#profile-pic label {
    background-color: #dfba53;
    color: black;
    padding: 10px 5px 10px 5px;
    height: fit-content;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    text-align: center;
    position: relative;
    margin-top: 7%;
    margin-left: 5%;
}

#profilepic {
  display: none;
}

h4 {
  color: var(--light);
  text-align: center;
}

#signup {
  border: 1px solid var(--light);
  background-color: var(--light);
  color: #383838;
  border-radius: 15px;
  margin-top: 2% !important;
  padding: 10px 7px 30px 7px !important;
  height: 0px !important;
  box-sizing: border-box !important;
  font-size: medium;
  font-weight: 700;

}

#signup:hover {
  background-color: var(--dark);
  color: var(--light);
}

#menu-icon {
  display: none;
}

footer {
  width: 100%;
  background-color: var(--dark);
  min-height: 40px;
  margin-top: 20px;
  border-top: 3px solid var(--more);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  margin-right: 20px;
  min-width: 20%;
  display: flex;
  flex-wrap: wrap;
}

footer div a {
  margin-right: 10%;
}

.nomarg {
  margin-top: 3px;
}

footer a {
  text-decoration: none;
  color: var(--light);
  font-size: medium;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}

nav {
  --fornav: transparent;

  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: var(--fornav);
  min-height: 80px !important;
  border-bottom: 2px solid var(--more);
  z-index: 7;
  transition: background 250ms ease-in;
}

.nav-scrolled {
  --fornav: #383838;
  border-bottom: 3px solid var(--more);
}

span {
  color: #dfba53;
}

a {
  text-decoration: none;
  color: rgb(235, 235, 215);
  font-size: xx-small;
}

.sb-example-1 .search {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.sb-example-1 {
  margin-bottom: 5%;
}

.search {
  margin-top: -10px;
}

.search button {
  background-color: transparent;
  outline: none;
  border: 3px solid var(--light);
  border-left: none;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  height: max-content;
  margin-top: 23px;
  padding: 5px 5px 3px 5px;
}

.searchTerm::placeholder {
  color: var(--light);
  font-size: small;
}

.sb-example-1 .searchTerm {
  width: 100% !important;
  border: 3px solid var(--light) !important;
  border-right: none !important;
  padding: 5px !important;
  height: 21px !important;
  margin-top: 23px !important;
  border-radius: 5px 0 0 5px !important;
  outline: none !important;
  color: var(--light) !important;
  background-color: transparent !important;
  box-sizing: content-box;
}

.sb-example-1 .searchTerm:focus {
  color: var(--light);
}

.sb-example-1 #search-icon {
  width: 20px;
  height: 20px;
  background: transparent;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.icon {
  height: 30px;
  width: 30px;
}

.underline:hover,
.underline:active {
  border-bottom: 3px solid var(--more);
  color: var(--more);
}

#webname {
  margin-top: -3%;
  margin-left: 10%;
  font-size: xx-large;
  color: rgb(235, 235, 215);
  font-weight: 900;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

.navleft {
  float: left;
  display: flex;
}

.space {
  font-size: small;
  font-weight: 0;
  margin: 12px 15px 10px 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

.navright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: right;
  margin-right: 10px;
}

#banner {
  border-bottom: 3px solid var(--more);
}

.prod1 {
  position: relative;
  width: 95%;
  min-height: 350px;
  background-color: var(--dark);
  border: 3px solid rgb(143, 143, 143);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.prod1 img {
  float: left;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  padding: 0;
  width: 20%;
  border: 5px solid rgb(143, 143, 143);
  border-radius: 3%;
}

.prod1 p {
  float: center;
  margin: 10px 10px 10px 28%;
  padding: 5px;
}

.const1 {
  color: rgb(143, 143, 143);
  font-size: medium;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vari1 {
  font-size: large;
  color: var(--light);
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addtochart {
  position: absolute;
  margin: 0px 0px 0px 60%;
  bottom: 30px;
  background-color: rgb(143, 143, 143);
  border: none;
  border-radius: 5%;
  padding: 20px;
  font-size: large;
  font-weight: 700;
}



.addtochart:hover {
  cursor: pointer;
  background-color: var(--another);
}

.formargin {
  margin-top: 20px !important;
}

.hr {
  position: absolute;
  margin: 10px 0px 0px 25%;
  border-left: 3px solid rgb(143, 143, 143);
  height: 85%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (min-width: 1357px) {
  * {
    box-sizing: border-box;
  }

  .nav-scrolled {
    background-color: var(--dark);
    border-bottom: 3px solid var(--more);
  }

  body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-color: var(--light);
  }

  nav {
    position: fixed;
    width: 100%;
    padding: 5px;
    background-color: var(--fornav);
    min-height: 60px;
    z-index: 7;
  }

  span {
    color: #dfba53;
  }

  a {
    text-decoration: none;
    color: rgb(235, 235, 215);
    font-size: xx-small;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .underline:hover,
  .underline:active {
    border-bottom: 3px solid var(--more);
    color: var(--more);
  }

  .navleft {
    float: left;
    display: flex;
  }

  #margon {
    margin-top: 15px;
  }

  .space {
    font-size: small;
    font-weight: 700;
    margin: 20px 15px 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
  }

  #webname {
    font-size: xx-large;
  }

  .searchbar {
    display: flex;
    flex-wrap: nowrap;
  }

  .navright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: right;
    margin-right: 10px;
  }


  .prod1 {
    position: relative;
    width: 95%;
    min-height: 350px;
    background-color: var(--dark);
    border: 3px solid rgb(143, 143, 143);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  .prod1 img {
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
    width: 15%;
    border: 5px solid rgb(143, 143, 143);
    border-radius: 3%;
  }

  .prod1 p {
    float: center;
    margin: 10px 10px 10px 23%;
    padding: 5px;
  }

  .const1 {
    color: var(--light);
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .vari1 {
    font-size: large;
    color: rgb(143, 143, 143);
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .addtochart {
    position: absolute;
    margin: 0px 50px 0px 70%;
    bottom: 30px;
    background-color: var(--more);
    border: none;
    border-radius: 5%;
    padding: 20px;
    font-size: large;
    font-weight: 700;
  }

  .addtochart:hover {
    cursor: pointer;
    background-color: var(--another);
  }

  .formargin {
    margin-top: 20px !important;
  }

  .hr {
    position: absolute;
    margin: 10px 0px 0px 20%;
    border-left: 3px solid rgb(143, 143, 143);
    height: 85%;
  }
}

@media screen and (min-width:769px) and (max-width: 992px) {

  .const1 {
    color: var(--light);
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav-scrolled {
    background-color: var(--dark);
    border-bottom: 3px solid var(--more);
  }

  .vari1 {
    font-size: medium;
    color: rgb(143, 143, 143);
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .hr {
    height: 0px;
  }

  #webname {
    font-size: 24px;
    margin-top: 0%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 992px) {
  .navright {
    margin-top: 5%;
    display: none;
    flex-direction: column;
    text-align: center;
    transition: display 250ms ease-out;
  }

  .navright div img {
    margin: 0;
  }

  #menu-icon {
    margin-top: 2%;
    margin-right: 5%;
    display: grid;
    float: right;
  }

  #menu-icon:hover {
    cursor: pointer;
  }

  .navright>* {
    height: 50px;
  }
}

@media screen and (max-width: 768px) and (min-width: 571px) {
  .const1 {
    color: var(--light);
    font-size: x-small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav-scrolled {
    --fornav: #383838;
    border-bottom: 3px solid var(--more);
  }


  .vari1 {
    font-size: small;
    color: rgb(143, 143, 143);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .prod1 {
    display: grid;
  }

  .prod1 img {
    height: auto;
    margin-right: 30%;
    margin-left: 30%;
    padding: 0;
    width: 40%;
    border: 5px solid var(--more);
    border-radius: 3%;
  }

  .addtochart {
    margin-left: 70%;
  }

  .hr {
    height: 0px;
  }
}

@media screen and (max-width: 570px) {
  #banner {
    margin-top: 10px;
  }

  .const1 {
    color: var(--light);
    font-size: xx-small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .vari1 {
    font-size: x-small;
    color: rgb(143, 143, 143);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #webname {
    font-size: 20px;
    margin-top: 0%;
    margin-left: 10%;
  }

  .hr {
    height: 0px;
  }

  .prod1 {
    display: grid;
  }

  .searchbar {
    display: flex;
    flex-wrap: nowrap;
  }

  .prod1 img {
    height: auto;
    margin-right: 30%;
    margin-left: 30%;
    padding: 0;
    width: 40%;
    border: 5px solid var(--more);
    border-radius: 3%;
  }

  .prod1 p {
    margin-left: 10%;
  }

  .addtochart {
    margin-left: 60%;
  }

  .hr {
    height: 0px;
  }
}

@media screen and (max-width: 433px) {
  .info {
    display: flex;
    flex-wrap: wrap;
  }

  #webname {
    font-size: 18px;
    margin-top: 0%;
    margin-left: 10%;
  }

  .addtochart {
    margin-left: 50% !important;
    padding: 10px;
    bottom: 15px;
    font-weight: 500;
    width: 40%;
  }
}


@media screen and (max-width: 4000px) {}