:root {
  --dark: #51484f
    /* #242124 */


  ;
  --light: #d19fe8;
  --more: rgb(143, 143, 143);
  --another: #9770d7;
  --teeth: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  background-color: var(--light);
}

.modal {
  background-color: var(--dark);
  padding: 20px;
  border-radius: 1%;
  border: 1px solid var(--light);
}

.close-modal {
  position: absolute;
  top: 1%;
  right: 4%;
  font-size: x-large;
}

.modal>p {
  color: var(--teeth);
}

.login-button,
.signup-button {
  background-color: var(--another);
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 5%;
  font-size: large;
  font-weight: 500;
}

.login-button:hover,
.signup-button:hover {
  cursor: pointer;
  background-color: #aa8f43;
}


#profile-pic label:hover {
  cursor: pointer;
  background-color: #aa8f43;
}

#profile-pic {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--light);
  padding: 7px;
  position: relative;

}

#profile-pic img {
  width: 17%;
  height: 8rem;
  border-radius: 50%;
}

#acc-email,
#acc-password,
#acc-bio {
  color: var(--light);
}

#account-email .editanchor {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 90%;
  position: absolute;
}

#account-email .editanchor .editicon {
  height: 30px;
  width: 30px;
  position: absolute;
}

#account-email {
  display: flex;
  flex-wrap: wrap;
}

#account-password .editanchor {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 90%;
  position: absolute;
}

#account-password .editanchor .editicon {
  height: 30px;
  width: 30px;
  position: absolute;
}

#account-bio .editanchor {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 90%;
  position: absolute;
}

#account-bio .editanchor .editicon {
  height: 30px;
  width: 30px;
  position: absolute;
}

.input-field {
  position: relative;
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#account-form .input-field {
  border: 1px solid var(--light);
  display: flex;
  padding: 5px;
}

.save-info:hover {
  cursor: pointer;
  background-color: var(--another);
}

.save-info {
  width: 10%;
  height: auto;
  padding: 5px;
  background-color: var(--another);
  border: none;
  border-radius: 5%;
  margin-top: 1%;
  margin-left: 79%;
  position: absolute;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 1px 1px 3px black;
}


#account-email input,
#account-password input,
#account-bio input {
  width: 75%;
}

#account-email label {
  margin-left: 5px;
}

.cancel-button {
  padding: 3px 1px 3px 1px;
  font-size: small;
  margin-left: 90%;
  margin-top: 1%;
  position: absolute;
}

.cancel-button:hover {
  border-bottom: 1px solid var(--teeth);
}

#profile-pic label {
  background-color: var(--another);
  color: black;
  width: 100%;
  padding: 10px 5px 10px 5px;
  height: fit-content;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  text-align: center;
  position: relative;
}

#picture-edit>* {
  margin-bottom: 5px;
}

#picture-edit>a {
  font-size: small;

  margin-left: auto;
  margin-right: auto;
}

#remove-picture {
  background-color: red;
  padding: 3px 1px 3px 1px;
  border: none;
  border-radius: 3px;
}

#remove-picture:hover {
  background-color: rgb(181, 10, 10);
}

#save-picture {
  background-color: #888;
  border: none;
  border-radius: 5px;
  padding: 5px 3px 5px 3px;
  width: 30%;
  text-align: center;
  color: black;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.disabled {
  background-color: var(--another) !important;
}

.disabled:hover {
  background-color: #aa8f43 !important;
}


#picture-edit {
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  width: 25%;
  display: grid;
}

#profilepic {
  display: none;
}

h4 {
  color: var(--teeth);
  text-align: center;
}

.temp {
  color: var(--teeth);
}

#signup {
  border: 1px solid var(--light);
  background-color: var(--light);
  color: #383838;
  border-radius: 15px;
  margin-top: 2% !important;
  padding: 10px 7px 30px 7px !important;
  height: 0px !important;
  box-sizing: border-box !important;
  font-size: medium;
  font-weight: 700;
  justify-content: center;
}

#signup-form {
  margin-bottom: 30px;
  width: 100% !important;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

#signup-form > * {
  margin-left: auto;
  margin-right: auto;
}

#signup:hover {
  background-color: var(--dark);
  color: var(--light);
}

.sign-up-methods {
  width: 40%;
  min-height: 40px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: medium;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--teeth);
  justify-content: flex-start;
}

.sign-up-icons {
  width: 20px;
  height: 20px;
  margin-right: 20%;
}

.sign-up-methods:hover {
  background-color: rgb(191, 190, 190);
  cursor: pointer;
}


#menu-icon {
  display: none;
}

#pages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.page {
  margin: 0px 3px 0px 0px !important;
  padding: 3px 3px 3px 3px !important;
  border: 1px solid var(--dark);
  color: var(--dark);
  font-size: medium;
  width: 30px;
  height: 30px;
  text-align: center;
}

.page-selected {
  background-color: var(--dark) !important;
  color: var(--light) !important;
  border: 1px solid var(--more) !important;
}

.page:hover {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--more);
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: var(--dark);
  min-height: 40px;
  border-top: 3px solid var(--more);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  margin-right: 0px;
  min-width: 20%;
  max-width: 30%;
  display: flex;
  flex-wrap: wrap;
}

footer div a {
  margin-right: 10px;
}

footer div .center {
  margin-top: 7px;
}

.nomarg {
  margin-top: 7px;
}

footer a {
  text-decoration: none;
  color: var(--light);
  font-size: medium;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}

footer p {
  margin-top: 10px;
  color: var(--light);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}

nav {
  --fornav: transparent;

  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: var(--fornav);
  min-height: 80px !important;
  border-bottom: 2px solid var(--more);
  z-index: 7;
  transition: background 250ms ease-in;
}

.nav-scrolled {
  --fornav: #383838;
  border-bottom: 3px solid var(--more);
}

span {
  color: var(--teeth);
}

a {
  text-decoration: none;
  color: rgb(235, 235, 215);
  font-size: xx-small;
}

.sb-example-1 .search {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.sb-example-1 {
  margin-bottom: 5%;
  height: 40px;
}

.search {
  border: 3px solid var(--light);
  border-radius: 15px;
  margin-top: 10px;
}

.search button {
  background-color: transparent;
  border: none;
  height: max-content;
  margin-top: 2px;
  padding: 5px;
}

.searchTerm::placeholder {
  color: var(--light);
  font-size: small;
}

.sb-example-1 .searchTerm {
  width: 100% !important;
  padding: 5px !important;
  height: 21px !important;
  border: none !important;
  color: var(--light);
  background-color: transparent !important;
  box-sizing: content-box;
}

.sb-example-1 .searchTerm:focus {
  color: var(--light);
}

.sb-example-1 #search-icon {
  width: 20px;
  height: 20px;
  background: transparent;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.icon {
  height: 30px;
  width: 30px;
}

.underline:hover,
.underline:active {
  border-bottom: 3px solid var(--more);
  color: var(--more);
}

#webname {
  margin-top: -5px;
  font-size: xx-large;
  font-weight: 900;
  padding: 0;
  font-family: 'Slackey', cursive;
  padding: 5px;
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}

#webname:hover {
  cursor: pointer;
}

.webname {
  background: linear-gradient(to right, var(--light) 0, var(--dark) 10%, var(--light) 20%);
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 180px;
  }

}

.navleft {
  float: left;
  display: flex;
  margin-left: 10px;
  margin-top: 0px;
}

.navright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: right;
  margin-right: 10px;
}

.nav-anchors-unscrolled {
  color: var(--teeth) !important;
}

.nav-anchors-unscrolled:hover {
  color: var(--more) !important;
}

.nav-input-unscrolled {
  color: var(--teeth) !important;
}

.sign-up-button-unscrolled{
  background-color: var(--teeth) !important;  
  border: 1px solid var(--teeth) !important;
}

.sign-up-button-unscrolled:hover{
  background-color: rgb(218, 214, 214) !important;
  color: var(--dark) !important;
  cursor: pointer;
}


.nav-input-unscrolled::placeholder {
  color: var(--teeth) !important;
}

.search-unscrolled {
  border: 3px solid var(--teeth) !important;
}

.webname-unscrolled {
  background: linear-gradient(to right, var(--teeth) 0, var(--dark) 10%, var(--teeth) 20%);
}

.space {
  font-size: small;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0% !important;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--light);
  padding: 0% !important;
  margin-bottom: 0% !important;
}

#banner {
  border-bottom: 3px solid var(--more);

}

.banner {
  width: 100%;
}

#slider {
  position: relative;
  box-shadow: 1px 1px 3px black;
  overflow: hidden;
  width: 100%;
  background-color: var(--teeth);
}

#slider img {
  width: 100%;
  float: left;
}

.previous {
  position: absolute;
  margin-top: 18%;
  left: 0%;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.782);
  background-color: #38383896;
  padding: 0;
  height: max-content;
  line-height: 50px;
  padding-bottom: 20px;
}

.next {
  position: absolute;
  margin-top: 18%;
  right: 0%;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.782);
  background-color: #38383896;
  padding: 0;
  height: max-content;
  line-height: 50px;
  padding-bottom: 20px;
}


.next:hover,
.previous:hover {
  background-color: #383838;
  color: var(--teeth);
}

#skip-slides {
  position: absolute;
  bottom: 5%;
  margin-left: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skippers {
  border: 1px solid var(--dark);
  background-color: var(--teeth);
  margin: 0px 5px 0px 5px;
  font-size: 20px;
  height: 10px;
  width: 10px;
  border: 0.5px solid black;
}

#sort-menu-area {
  margin-top: 20px;
  border-top: 3px solid var(--more);
  border-bottom: 3px solid var(--more);
  background-color: var(--dark);
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
}

#sort-menu-area p {
  color: var(--teeth);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3%;
  margin-right: 5px;
}

#sort-menu-area select {
  width: max-content;
  height: 25px;
  margin: 5px;
  padding: 0;
  background-color: var(--more);
  border: none;
  border-radius: 5px;
}

#sort-menu-area select:hover {
  cursor: pointer;
}

.prod1 {
  position: relative;
  width: 95%;
  min-height: 350px;
  background-color: var(--dark);
  border: 3px solid rgb(143, 143, 143);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.prod1 img {
  float: left;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  padding: 0;
  width: 20%;
  border: 5px solid rgb(143, 143, 143);
  border-radius: 3%;
}

.prod2 {
  position: relative;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  min-height: 350px;
  background-color: var(--dark);
  border: 3px solid rgb(143, 143, 143);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.prod2 img {
  height: fit-content;
  margin: 10px;
  padding: 0;
  width: 40%;
  border: 5px solid rgb(143, 143, 143);
  border-radius: 3%;
}

.prod2 div {
  margin-left: 10px;
}

.prod2 p {
  padding: 5px;
}

.prod1 p {
  float: center;
  margin: 10px 10px 10px 28%;
  padding: 5px;
}


.addtochart1 {
  margin: 0;
  max-height: 60px;
  bottom: 30px;
  background-color: var(--another);
  border: none;
  border-radius: 5%;
  padding: 10px;
  font-size: large;
  font-weight: 700;
  color: var(--teeth);
}

.addtochart1:hover {
  cursor: pointer;
  background-color: var(--more);
}


.const1 {
  color: var(--light);
  font-size: medium;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vari1 {
  font-size: large;
  color: var(--teeth);
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addtochart {
  position: absolute;
  margin: 0px 0px 0px 60%;
  bottom: 30px;
  background-color: var(--another);
  border: none;
  border-radius: 5%;
  padding: 20px;
  font-size: large;
  font-weight: 700;
  color: var(--teeth);
}

.addtochart:hover {
  cursor: pointer;
  background-color: var(--more);
}

.formargin {
  margin-top: 20px !important;
}

.hr {
  position: absolute;
  margin: 10px 0px 0px 25%;
  border-left: 3px solid rgb(143, 143, 143);
  height: 85%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 1357px) {
  * {
    box-sizing: border-box;
  }

  #profile-pic label {
    height: fit-content;
    font-weight: 700;
  }

  #picture-edit {
    max-width: 300px;
  }

  .nav-scrolled {
    background-color: var(--dark);
    border-bottom: 3px solid var(--more);
  }

  body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-color: var(--light);
  }

  nav {
    position: fixed;
    width: 100%;
    padding: 5px;
    background-color: var(--fornav);
    min-height: 60px;
    z-index: 7;
  }

  span {
    color: var(--teeth);
  }

  a {
    text-decoration: none;
    font-size: xx-small;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .underline:hover,
  .underline:active {
    border-bottom: 3px solid var(--more);
    color: var(--more);
  }

  .navleft {
    float: left;
    display: flex;
  }

  #margon {
    margin-top: 15px;
  }

  .space {
    font-size: small;
    font-weight: 700;
    margin: 20px 15px 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
  }

  #webname {
    font-size: xx-large;
  }

  .searchbar {
    display: flex;
    flex-wrap: nowrap;
  }

  .navright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: right;
    margin-right: 10px;
  }


  .prod1 {
    position: relative;
    width: 95%;
    min-height: 350px;
    background-color: var(--dark);
    border: 3px solid rgb(143, 143, 143);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  .prod1 img {
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
    width: 15%;
    border: 5px solid rgb(143, 143, 143);
    border-radius: 3%;
  }

  .prod1 p {
    float: center;
    margin: 10px 10px 10px 23%;
    padding: 5px;
  }

  .const1 {
    color: var(--light);
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .vari1 {
    font-size: large;
    color: var(--teeth);
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .addtochart {
    position: absolute;
    margin: 0px 50px 0px 70%;
    bottom: 30px;
    background-color: var(--another);
    border: none;
    border-radius: 5%;
    padding: 20px;
    font-size: large;
    font-weight: 700;
    color: var(--teeth);
  }

  .addtochart:hover {
    cursor: pointer;
    background-color: var(--more);
  }

  .formargin {
    margin-top: 20px !important;
  }

  .hr {
    position: absolute;
    margin: 10px 0px 0px 20%;
    border-left: 3px solid rgb(143, 143, 143);
    height: 85%;
  }
}

@media screen and (min-width:769px) and (max-width: 992px) {

  .const1 {
    color: var(--light);
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav-scrolled {
    background-color: var(--dark);
    border-bottom: 3px solid var(--more);
  }

  #profile-pic img {

    height: 6rem;

  }
  
  .sign-up-icons {
    margin-right: 10%;
  }

  .vari1 {
    font-size: medium;
    color: var(--teeth);
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .hr {
    height: 0px;
  }

  #webname {
    font-size: 24px;
    margin-top: 0%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 992px) {
  .navright {
    margin-top: 5%;
    display: none;
    text-align: center;
    background-color: var(--dark);
    border: 3px solid var(--more);
  }

  .navright div img {
    margin: 0;
  }

  #menu-icon {
    margin-top: 15px;
    margin-right: 5%;
    display: grid;
    float: right;
  }

  #menu-icon:hover {
    cursor: pointer;
  }

  .search {
    margin-top: 10px !important;
  }

  .navright a:hover {
    border: none;
  }

  .navright>* {
    height: 40px;
  }
}

@media screen and (max-width: 768px) and (min-width: 571px) {
  .const1 {
    color: var(--light);
    font-size: x-small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav-scrolled {
    --fornav: #383838;
    border-bottom: 3px solid var(--more);
  }

  #profile-pic img {

    height: 4rem;

  }

  .sign-up-icons {
    margin-right: 10%;
  }

  .vari1 {
    font-size: small;
    color: var(--teeth);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .prod1 {
    display: grid;
  }

  .prod1 img {
    height: auto;
    margin-right: 30%;
    margin-left: 30%;
    padding: 0;
    width: 40%;
    border: 5px solid var(--more);
    border-radius: 3%;
  }

  .addtochart {
    margin-left: 70%;
  }

  .hr {
    height: 0px;
  }
}

@media screen and (max-width: 570px) {
  #banner {
    margin-top: 10px;
  }

  .prod2 img {
    width: 95%;
    max-height: 220px;
  }

  #profile-pic img {

    height: 3rem;

  }

  .sign-up-icons {
    margin-right: 0%;
  }

  .const1 {
    color: var(--light);
    font-size: xx-small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .vari1 {
    font-size: x-small;
    color: var(--teeth);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #webname {
    font-size: 20px;
    margin-top: 0%;
    margin-left: 10%;
  }

  .hr {
    height: 0px;
  }

  .prod1 {
    display: grid;
  }

  .searchbar {
    display: flex;
    flex-wrap: nowrap;
  }

  .prod1 img {
    height: auto;
    margin-right: 30%;
    margin-left: 30%;
    padding: 0;
    width: 40%;
    border: 5px solid var(--more);
    border-radius: 3%;
  }

  .prod1 p {
    margin-left: 10%;
  }

  .addtochart {
    margin-left: 60%;
  }

  .hr {
    height: 0px;
  }
}

@media screen and (max-width: 433px) {
  .info {
    display: flex;
    flex-wrap: wrap;
  }

  #webname {
    font-size: 18px;
    margin-top: 0%;
    margin-left: 10%;
  }

  .addtochart {
    margin-left: 50% !important;
    padding: 10px;
    bottom: 15px;
    font-weight: 500;
    width: 40%;
  }
}


@media screen and (max-width: 4000px) {}