:root {
  --dark: #51484f
    /* #242124 */


  ;
  --light: #fff;
  --more: rgb(143, 143, 143);
  --another: #9770d7;
  --teeth: #f5f5f5;
  --old: #d19fe8;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--light);
}

#id_confrmdiv {
  display: none;
  background-color: var(--dark);
  border-radius: 5px;
  border: 5px solid var(--more);
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  height: fit-content;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
  z-index: 9909;
}

#id_confrmdiv p {
  color: var(--teeth);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#id_confrmdiv p:first-child {
  font-weight: 700;
}

#id_confrmdiv p:last-child {
  font-weight: 300;
}

#id_confrmdiv button {
  background-color: var(--teeth);
  border-radius: 3px;
  border: 1px solid var(--more);
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  z-index: 999;
}

#id_confrmdiv div {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

#id_confrmdiv button:hover {
  background-color: var(--more);
}

#confirmBox .message {
  text-align: left;
  margin-bottom: 8px;
  z-index: 999;
}

.modal {
  background-color: var(--dark);
  padding: 20px;
  border-radius: 1%;
  border: 1px solid var(--light);
  z-index: 9999 !important;
}

.close-modal {
  position: absolute;
  top: 1%;
  right: 4%;
  font-size: x-large;
}

.modal>p {
  color: var(--teeth);
}

#modal-password h6 {
  text-align: center;
  font-size: large;
  font-weight: 700;
  color: var(--teeth);
}

#attention {
  color: var(--teeth);
  text-align: justify;
}

#PS img {
  margin-top: 8px;
}

#PS {
  border: 1px solid var(--another);
  padding: 5px 8px 5px 5px;
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
}

.connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}

.connect div {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
}

.org-name {
  color: var(--teeth);
  font-weight: 500;
  margin-left: 10px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.connection-state {
  color: var(--teeth);
  font-weight: 400;
  margin-left: 10px;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.connect div div {
  display: grid;
  top: 0%;
}

.connect div div p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.connection-icons {
  width: 66px;
  height: 66px;

}

.connect button {
  width: 20%;
  width: fit-content;
  max-height: 40px;
  font-size: medium;
  font-weight: 500;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 7px 5px 7px 5px;
}


.connection-methods:hover {
  cursor: pointer;
  background-color: #aeabab;
}

.fieldset {
  margin-top: 10px;
  padding: 20px;
}

#login-legend {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  color: var(--teeth);
  font-weight: 500;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#account-legend {
  margin-left: 5px;
  padding: 5px;
  color: var(--teeth);
  font-weight: 500;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-button,
.signup-button {
  background-color: var(--another);
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 5%;
  font-size: large;
  font-weight: 500;
}


#login-form>* {
  margin-left: auto;
  margin-right: auto;
}

#link-accounts {
  margin-left: auto;
  margin-right: auto;
}



.login-button:hover,
.signup-button:hover {
  cursor: pointer;
  background-color: var(--more);
}

#login-form {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

#modal-login {
  justify-content: center;
}

.confirm-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.confirm-buttons button {
  background-color: var(--another);
  color: var(--teeth);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 5%;
  font-size: large;
  font-weight: 500;
  margin-top: 80px;
}

.confirm-buttons button:hover {
  cursor: pointer;
  background-color: var(--more);
}

#first-h6,
#second-h6 {
  color: var(--teeth) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.modal-confirm h6 {
  color: var(--teeth) !important;
  font-weight: 500;
  font-size: medium;
  margin-right: auto;
  margin-left: auto;
}

#profile-pic label:hover {
  cursor: pointer;
  background-color: #aa8f43;
}

#profile-pic {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--light);
  padding: 7px;
  position: relative;

}

#profile-pic img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

#acc-email,
#acc-password,
#acc-password-method,
#acc-bio {
  color: var(--light);
}

#account-email .editanchor {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 90%;
  position: absolute;
}

#account-email .editanchor .editicon {
  height: 30px;
  width: 30px;
  position: absolute;
}

#account-email {
  display: flex;
  flex-wrap: wrap;
}

#account-password .editanchor {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 90%;
  position: absolute;
}

#account-password .editanchor .editicon {
  height: 30px;
  width: 30px;
  position: absolute;
}

#account-bio .editanchor {
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 90%;
  position: absolute;
}

#account-bio .editanchor .editicon {
  height: 30px;
  width: 30px;
  position: absolute;
}

.input-field {
  position: relative;
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#account-form .input-field {
  border: 1px solid var(--light);
  display: flex;
  padding: 5px;
}

.save-info:hover {
  cursor: pointer;
  background-color: var(--another);
}

.save-info {
  overflow: hidden;
  min-width: fit-content !important;
  height: auto;
  padding: 10px 7px 10px 7px;
  background-color: var(--another);
  border: none;
  border-radius: 5%;
  margin-top: 1%;
  margin-left: 79%;
  position: absolute;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 1px 1px 3px black;
}


#account-email input,
#account-password input,
#account-bio input {
  width: 75%;
}

#account-email label {
  margin-left: 5px;
}

.cancel-button {
  padding: 3px 1px 3px 1px;
  font-size: small;
  margin-left: 90%;
  margin-top: 1.5%;
  position: absolute;
}

.cancel-button:hover {
  border-bottom: 1px solid var(--teeth);
}

#profile-pic label {
  background-color: var(--another);
  color: black;
  width: 100%;
  padding: 10px 5px 10px 5px;
  height: fit-content;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  text-align: center;
  position: relative;
}

#picture-edit>* {
  margin-bottom: 5px;
}

#picture-edit>a {
  font-size: small;

  margin-left: auto;
  margin-right: auto;
}

#remove-picture {
  background-color: red;
  padding: 3px 1px 3px 1px;
  border: none;
  text-align: center;
  border-radius: 3px;
}

#remove-picture:hover {
  background-color: rgb(181, 10, 10);
}

#save-picture {
  background-color: #888;
  border: none;
  border-radius: 5px;
  padding: 7px 5px 7px 5px;
  width: fit-content;
  text-align: center;
  color: black;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.disabled {
  background-color: var(--another) !important;
}

.disabled:hover {
  background-color: #aa8f43 !important;
}


#picture-edit {
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  width: 25%;
  display: grid;
}

#profilepic {
  display: none;
}

h4 {
  color: var(--teeth);
  text-align: center;
}

.temp {
  color: var(--teeth);
}

#signup {
  border: 1px solid var(--light);
  background-color: var(--light);
  color: #383838;
  border-radius: 15px;
  margin-top: 2% !important;
  padding: 10px 7px 30px 7px !important;
  height: 0px !important;
  box-sizing: border-box !important;
  font-size: medium;
  font-weight: 700;
  justify-content: center;
}

#signup-form {
  margin-bottom: 30px;
  width: 100% !important;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

#signup-form>* {
  margin-left: auto;
  margin-right: auto;
}

#signup:hover {
  background-color: var(--dark);
  color: var(--light);
}


.privacy {
  left: 0%;
  margin-bottom: 30px;
  margin-top: 0% !important;
  color: var(--teeth);
}

.sign-in-methods {
  width: 40%;
  width: fit-content;
  min-height: 40px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--teeth);
  justify-content: flex-start;
}

#facebook-sign-in {
  margin-top: 20px;
}

.sign-in-icons {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.sign-in-methods:hover {
  background-color: rgb(191, 190, 190);
  cursor: pointer;
}


#menu-icon {
  display: none;
}

#pages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.page {
  margin: 0px 3px 0px 0px !important;
  padding: 3px 3px 3px 3px !important;
  border: 1px solid var(--dark);
  color: var(--dark);
  font-size: medium;
  width: 30px;
  height: 30px;
  text-align: center;
}

.page-selected {
  background-color: var(--dark) !important;
  color: var(--light) !important;
  border: 1px solid var(--more) !important;
}

.page:hover {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--more);
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: var(--dark);
  min-height: 40px;
  border-top: 3px solid var(--more);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  margin-right: 0px;
  max-width: 30%;
  display: flex;
  flex-wrap: wrap;
}

footer a {
  color: var(--teeth) !important;
}

footer div a {
  margin-right: 10px;
}

footer div .center {
  margin-top: 7px;
}

.nomarg {
  margin-top: 7px;
}

footer a {
  text-decoration: none;
  color: var(--teeth) !important;
  font-size: medium;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}

footer p {
  margin-top: 10px;
  color: var(--light);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}

nav {
  --fornav: transparent;

  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: var(--fornav);
  min-height: 80px !important;
  border-bottom: 2px solid var(--more);
  z-index: 9998;
  transition: background 250ms ease-in;
}

.nav-scrolled {
  --fornav: #51484f;
  border-bottom: 3px solid var(--more);
}

span {
  color: var(--teeth);
}

a {
  text-decoration: none;
  color: rgb(235, 235, 215);
  font-size: xx-small;
}

.sb-example-1 .search {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.sb-example-1 {
  margin-bottom: 5%;
  height: 40px;
}

.search {
  border: 3px solid var(--light);
  border-radius: 15px;
  margin-top: 10px;
}

.search button {
  background-color: transparent;
  border: none;
  height: max-content;
  margin-top: 2px;
  padding: 5px;
}

.searchTerm::placeholder {
  color: var(--light);
  font-size: small;
}

.sb-example-1 .searchTerm {
  width: 100% !important;
  padding: 5px !important;
  height: 21px !important;
  border: none !important;
  color: var(--light);
  background-color: transparent !important;
  box-sizing: content-box;
}

.sb-example-1 .searchTerm:focus {
  color: var(--light);
}

.sb-example-1 #search-icon {
  width: 20px;
  height: 20px;
  background: transparent;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.icon {
  height: 30px;
  width: 30px;
}

.underline:hover,
.underline:active {
  border-bottom: 3px solid var(--more);
  color: var(--more);
}

#webname {
  margin-top: -5px;
  font-size: xx-large;
  font-weight: 900;
  padding: 0;
  font-family: 'Slackey', cursive;
  padding: 5px;
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}

#webname:hover {
  cursor: pointer;
}

.webname {
  background: linear-gradient(to right, var(--light) 0, var(--dark) 10%, var(--light) 20%);
}

.animationFadeOut {
  animation: fadeOut 1s ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;

  }

  to {
    opacity: 0;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 180px;
  }

}

.navleft {
  float: left;
  display: flex;
  margin-left: 10px;
  margin-top: 0px;
}

.navright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: right;
  margin-right: 10px;
}

.space {
  font-size: small;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0% !important;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--light);
  padding: 0% !important;
  margin-bottom: 5px !important;
}

.banner {
  width: 100%;
}

#slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-image: url("https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif");
  background-repeat: no-repeat;
  background-size: 1%;
  background-position: center;
}

#slider img {
  width: 100%;
  float: left;
}

.previous {
  position: absolute;
  margin-top: 12%;
  left: 0%;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.782);
  background-color: #38383896;
  padding: 0;
  height: max-content;
  line-height: 50px;
  padding-bottom: 20px;
}

.next {
  position: absolute;
  margin-top: 12%;
  right: 0%;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.782);
  background-color: #38383896;
  padding: 0;
  height: max-content;
  line-height: 50px;
  padding-bottom: 20px;
}


.next:hover,
.previous:hover {
  background-color: #383838;
  color: var(--teeth);
}

#skip-slides {
  position: absolute;
  bottom: 5%;
  margin-left: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skippers {
  border-radius: 50%;
  border: 1px solid black;
  background-color: var(--teeth);
  margin: 0px 5px 0px 5px;
  font-size: 20px;
  height: 10px;
  width: 10px;
}

#categories {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  width: 100%;
  height: 55px;
  color: var(--light);
  font-size: large;
  font-weight: 500;
  transition:0s 1s;
}

#categories:active #first-ul {
  display: grid;
  transition:0s;
}

#categories:hover #first-ul {
  display: grid;
  transition:0s;
}

#first-ul {
  display: none;
  padding-top: 5px;
  transition:0s 3s;
  position: absolute;
  background-color: var(--light);
  width: 20%;
  z-index: 999;
  border: 1px solid var(--dark);
}

#categories ul li {
  margin-left: 5px;
  margin-top: 10px;
  color: var(--dark);
  width: 100%;
  border-bottom: 1px solid var(--more);
  padding-bottom: 15px;
}

#first-li:hover  .first-ul {
  display: grid;
}

#second-li:hover   .second-ul {
  display: grid;
}

#third-li:hover  .third-ul {
  display: grid;
}

#fourth-li:hover .fourth-ul {
  display: grid;
}

#fifth-li:hover .fifth-ul {
  display: grid;
}

ul li ul {
  position: absolute;
  display: none;
  margin-left: 96%;
  top: -1px;
  height: 100%;
  width: 75vw;
  background-color: var(--light);
  border: 1px solid var(--dark) ;
  z-index: 9999;
}

li ul li {
  color: var(--dark);
  width: 74vw;
  padding-left: 5px;
  background-color: var(--light);
}

#categories:hover {
  cursor: pointer;
}

#container {
  display: flex;
  width: 100% !important;
}

#main {
  width: 80%;
  flex-grow: 100;
}

.mirror-image {
  transform: scaleX(-1);
}

#options {
  margin-top: 30px;
}

#explore-options {
  transition: all 0.5s ease;
  width: 20%;
  background-color: var(--dark);
  border-top: 1px solid var(--dark);
  border-right: 3px solid var(--more);
}

.explore-options-closed {
  width: 30px !important;
  overflow: hidden !important;
}

#close-explore-options {
  height: 20px;
  width: 20px;
  margin: 5px;
  float: right;
}

#close-explore-options img {
  height: 20px;
  width: 20px;
}

.option-name {
  color: var(--light);
  font-size: large;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5px;
}

#price {
  align-items: center;
}

#price p {
  margin-left: 0% !important;
  text-align: center;
}


/* LOADING ANIMATION */

.loading {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: #fff;
  z-index: 99;
  margin-left: 20%;
  margin-top: 40px;
  width: 80% !important;
  right: 0% !important;
}

.loading--full-height {
  align-items: center;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: var(--another);
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }
  
  to {
    transform: rotate(1turn);
  }
}

/*                   */

/*            */

.price-slider {
  width: 95%;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
}
.price-slider svg,
.price-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0;
  outline: 0;
}
input[type=number] {
  border: 1px solid var(--another);
  text-align: center;
  font-size: 1.6em;
  -moz-appearance: textfield;
  box-shadow: 0;
  outline: 0;
  color: var(--light);
  border-bottom: none !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
  border: 2px solid #e60023;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--old);
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--old);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--old);
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--old);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid var(--old);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--another);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--old);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid var(--old);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--another);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: var(--old);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid var(--old);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--another);
  cursor: pointer;
}

/*              */

input[type="checkbox"] {
  opacity: 1 !important;
  -webkit-appearance: checkbox !important;
  height: 10px !important;
  width: 10px !important;
}

input[type="checkbox"]:hover {
  cursor: pointer !important;
}

#manufacturers {
  display: block;
  align-items: center;
}

#manufacturers div {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 5px;
}

#manufacturers label {
  color: var(--light);
  font-size: small;
  margin-left: 15px;
}

#manufacturers label:hover {
  cursor: pointer;
  color: var(--another);
}

#sort-menu-area {
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
  box-shadow: 1px 1px 3px black;
  background-color: var(--dark);
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

#sort-menu-area p {
  color: var(--teeth);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3%;
  margin-right: 5px;
}

#sort-menu-area select {
  width: max-content;
  height: 25px;
  margin: 5px;
  padding: 0;
  background-color: var(--light);
  border: none;
  border-radius: 5px;
}

#sort-menu-area select:hover {
  cursor: pointer;
}

#products {
  display: flex;
  border: 1px solid var(--more);
  width: 95%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prod1 {
  position: relative;
  display: grid;
  background-color: var(--light);
  width: 20%;
  height: 25%;
  margin-top: 30px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0px;
  justify-content: center;
}


.prod1:hover {
  border: 2px solid var(--dark);
  transform: scale(1.2);
  z-index: 9997;
}

.prod1 img {
  height: auto;
  margin-top: 20px;
  margin-left: 5%;
  padding: 0;
  width: 90%;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3%;
}

.prod2 {
  position: relative;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  min-height: 350px;
  background-color: var(--dark);
  border: 3px solid rgb(143, 143, 143);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.prod2 img {
  height: fit-content;
  margin: 10px;
  padding: 0;
  width: 40%;
  border: 5px solid rgb(143, 143, 143);
  border-radius: 3%;
}

.prod2 div {
  margin-left: 10px;
}

.prod2 p {
  padding: 5px;
}


.addtochart1 {
  margin: 0;
  max-height: 60px;
  width: fit-content;
  background-color: var(--another);
  border: none;
  border-radius: 5%;
  padding: 10px;
  font-size: medium;
  font-weight: 700;
  color: var(--teeth);
}

.addtochart1:hover {
  cursor: pointer;
  background-color: var(--more);
}

.vari1 {
  font-size: medium;
  color: var(--dark);
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.const2 {
  font-size: medium;
  color: var(--old);
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vari2 {
  font-size: medium;
  color: var(--teeth);
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addtochart {
  width: fit-content;
  margin: 20px auto;
  background-color: var(--another);
  border: none;
  border-radius: 5%;
  padding: 10px;
  font-size: medium;
  font-weight: 500;
  color: var(--teeth);
}

.addtochart:hover {
  cursor: pointer;
  background-color: var(--more);
}

.formargin {
  margin-top: 20px !important;
}

.hr {
  position: absolute;
  margin: 10px 0px 0px 25%;
  border-left: 3px solid rgb(143, 143, 143);
  height: 85%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 1921px) {
  * {
    box-sizing: border-box;
  }

  #products {
    min-height: 1800px;
  }

  .prod1 img {
    max-width: 400px;
    max-height: 400px;
  }

  .prod1 {
    min-height: 500px;
    max-height: 700px;
  }

  .vari1 {
    font-size: x-large;
  }

  .addtochart {
    padding: 10px;
    font-size: x-large;
  }

  #profile-pic label {
    height: fit-content;
    font-weight: 700;
  }

  #picture-edit {
    max-width: 300px;
  }

  .nav-scrolled {
    background-color: var(--dark);
    border-bottom: 3px solid var(--more);
  }

  body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-color: var(--light);
  }

  nav {
    position: fixed;
    width: 100%;
    padding: 5px;
    background-color: var(--fornav);
    min-height: 60px;
    z-index: 9998;
  }

  span {
    color: var(--teeth);
  }

  a {
    text-decoration: none;
    font-size: xx-small;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .underline:hover,
  .underline:active {
    border-bottom: 3px solid var(--more);
    color: var(--more);
  }

  .prod2 div {
    height: 5% !important;
    width: 20%;
  }

  .addtochart1 {
    margin: 10%;
    font-size: xx-large;
    padding-bottom: 20px !important;
    width: fit-content;
    height: fit-content;
  }

  .prod2 div p {
    margin: 10%;
    font-size: x-large;
  }

  .navleft {
    float: left;
    display: flex;
  }

  #margon {
    margin-top: 15px;
  }

  .space {
    font-size: small;
    font-weight: 700;
    margin: 20px 15px 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
  }

  #webname {
    font-size: xx-large;
  }

  .searchbar {
    display: flex;
    flex-wrap: nowrap;
  }

  .navright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: right;
    margin-right: 10px;
  }

}

@media screen and (min-width:769px) and (max-width: 992px) {


  .nav-scrolled {
    background-color: var(--dark);
    border-bottom: 3px solid var(--more);
  }

  .sign-in-icons {
    margin-right: 7px;
  }

  #webname {
    font-size: 24px;
    margin-top: 0%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 992px) {

  .navright {
    position: fixed;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    right: -3%;
    padding-bottom: 1000%;
    display: none;
    text-align: center;
    background-color: #51484ff5;
    border-left: 1px solid var(--more);
    z-index: -1;
  }

  .menu-icon-clicked {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .navright div img {
    margin: 0;
  }

  #menu-icon {
    z-index: 1000;
    margin-top: 15px;
    margin-right: 5%;
    display: grid;
    float: right;
  }

  #menu-icon:hover {
    cursor: pointer;
  }

  .search {
    margin-top: 10px !important;
  }

  .navright a:hover {
    border: none;
  }

  .navright>* {
    height: 40px;
  }
}

@media screen and (max-width: 768px) and (min-width: 571px) {
  .previous {

    font-size: 60px;

    line-height: 30px;
    padding-bottom: 10px;
  }

  #skip-slides {
    margin-left: 40%;
  }

  .skippers {
    width: 8px;
    height: 8px;
  }

  .prod1 {
    width: 35%;
  }

  .next {

    font-size: 60px;

    line-height: 30px;
    padding-bottom: 10px;
  }

  .nav-scrolled {
    --fornav: #51484f;
    border-bottom: 3px solid var(--more);
  }


  .sign-in-icons {
    margin-right: 5px;
  }

}

@media screen and (max-width: 570px) {
  #products {
    height: fit-content;
  }

  .loading {
    margin-left: 0% !important;
    width: 100% !important;
  }

  #container {
    display: block;
  }

  #main {
    width: 100%;
  }

  .prod1 {
    width: 70%;
    margin-bottom: 30px;
  }

  #id_confrmdiv {
    width: 80%;
    left: 10%;
  }

  .cancel-button {
    margin-left: 80%;
  }

  .save-info {
    font-size: x-small;
    font-weight: 500;
    margin-left: 60%;
  }

  #account-email input,
  #account-password input,
  #account-bio input {
    width: 55%;
  }

  #banner {
    margin-top: 10px;
  }

  .editanchor {
    margin-left: 80% !important;
  }

  .prod2 img {
    width: 95%;
    max-height: 220px;
  }


  .sign-in-icons {
    margin-right: 3px;
  }

  #webname {
    font-size: 20px;
    margin-top: 0%;
    margin-left: 10%;
  }

  .searchbar {
    display: flex;
    flex-wrap: nowrap;
  }

  .addtochart1 {
    font-size: small;
  }
}

@media screen and (max-width: 433px) {
  .info {
    display: flex;
    flex-wrap: wrap;
  }

  #webname {
    font-size: 18px;
    margin-top: 0%;
    margin-left: 10%;
  }
}


@media screen and (max-width: 4000px) {}